---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <section
    class="border-white border-b mx-auto border-x max-w-7xl flex justify-center  min-h-screen"
  >
    <div
      class=" m-auto sm:p-10 "
    >
    <h3 class="text-white font-display uppercase text-3xl lg:text-7xl ">
        COMING SOON
      </h3>
    </div>
  </section>
</BaseLayout>
