---
import { teamList } from "utils";
---

<section class="border-white border-y">
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
      <div class="sm:hidden w-full justify-between grid">
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
        >
        </div>
      </div>

      <div
        class="flex justify-around items-center animate-marquee sm:animate-marquee-none font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap"
      >
        {
          Object.keys(teamList).map((team, i) => {
            return (
              <>
                <a class=" hover:underline" href={`teams/${team}`}>
                  <img
                    alt="India"
                    transition:name={`${team}-flag`}
                    width="50"
                    height="50"
                    src={`http://purecatamphetamine.github.io/country-flag-icons/3x2/${teamList[team].symbol}.svg`}
                  />
                </a>
                {i < Object.keys(teamList).length - 1 && (
                  <span class="hidden lg:inline">✺</span>
                )}
              </>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
