---
import List from "@/components/landing/List";
---

<section class="border-white border-b">
  <div class="mx-auto border-white border-x max-w-7xl">
    <List client:only/>
    <!-- <List /> -->
  </div>
</section>
