---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ViewTransitions } from "astro:transitions";
import { AstroSeo } from "@astrolib/seo";
import { teamList } from "utils";
---

<AstroSeo
  title="2023 ICC ODI Worldcup Schedule"
  description="2023 ICC ODI Worldcup schedule India. List of all matches (IND vs PAK,ENG vs AUS) "
  canonical="https://worldcup.rvkay.in"
  openGraph={{
    url: "https://worldcup.rvkay.in",
    title: "2023 ICC ODI Worldcup Schedule",
    description:
      "ICC ODI Worldcup schedule India. List of all matches (IND vs PAK,ENG vs AUS)",
    images: [
      {
        url: "https://worldcup.rvkay.in",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://worldcup.rvkay.in",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://worldcup.rvkay.in" },
      { url: "https://worldcup.rvkay.in" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@0xrvk",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <ViewTransitions />

  <section class="border-b border-white">
    <div
      class="mx-auto max-w-7xl border-x border-white px-8 py-12 gradient-grid"
    >
      <div class="mx-auto lg:pt-28 px-8 py-12">
        <h3 class="text-white font-display uppercase text-3xl lg:text-7xl">
          Discover the Captains & Players
        </h3>
      </div>
    </div>
  </section>

  <section
    class="border-white border-b mx-auto border-x max-w-7xl flex justify-center"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-10 sm:p-10"
    >
      {
        Object.keys(teamList).map((team) => {
          const { captainImage } = teamList[team];
          return (
            <div class="relative fade-up hover:scale-105 ">
              <div class="absolute text-white text-2xl  bottom-0 right-0 pr-2 z-10 uppercase font-display">
                {team}
              </div>
              <a
                href={`teams/${team}`}
                class="btn-click-audio border block border-spacing-4 h-56 w-64 sm:w-56 relative rounded-lg shadow-white shadow-lg group-hover:border-orange-700 "
              >
                <img
                  transition:name={`captain-img-${team}`}
                  class="object-cover absolute inset-0 w-full h-full rounded-lg"
                  src={captainImage}
                />
              </a>
            </div>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
