---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="border-b border-white">
    <div
      class="mx-auto max-w-7xl border-x border-white px-8 py-12 gradient-grid"
    >
      <div class="text-white mt-10 uppercase font-display text-center">Page not found</div>
    </div>
  </section>
</BaseLayout>
