---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import { ViewTransitions, fade } from "astro:transitions";
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <BaseHead />
    <ViewTransitions />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4481703695296260"
     crossorigin="anonymous"></script>
  </head>
  <body class="mx-auto min-h-screen bg-black 2xl:max-w-7xl" transition:animate={fade({ duration: '0.6s' })}>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
