---
const { team } = Astro.params;
const shouldBackButtonExist = Astro.url.pathname.includes("teams");
---

<script>
  const audio = new Audio();
  audio.src = "/audio/mouseclick.mp3";
  const clickableBtnList = document.getElementsByClassName("btn-click-audio");
  for (let btn of clickableBtnList) {
    btn.addEventListener("click", () => {
      audio.play();
    });
  }
  document.addEventListener("astro:after-swap", () => {
    for (let btn of clickableBtnList) {
      btn.addEventListener("click", () => {
        audio.play();
      });
    }
  });
</script>
<section
  transition:persist
  class="mx-auto border-white border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full"
>
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full"
    >
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8"
      >
        <div
          class="btn-click-audio text-white font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
        >
          <span>
            {
              !shouldBackButtonExist ? (
                <a href="/">2023 ICC ODI Worldcup</a>
              ) : (
                <a href="javascript:history.back()">Back</a>
              )
            }
          </span>
        </div>
      </div>

      <div
        class="text-white text-center items-center w-full flex flex-col justify-end md:px-0 sm:flex-row sm:px-8"
      >
        <a
          href="/"
          class="btn-click-audio text-white font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>Home</span>
        </a>
        <a
          href="/teams"
          class="btn-click-audio text-white font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>Teams</span>
        </a>
      </div>
    </div>
  </div>
</section>
